body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

#central {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.information {
    padding: 8px;
    font-size: 16px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

button:hover {
    background-color: #2980b9;
}

#tabla {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}


.columna3{
    width: 60%;
}